.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .default{
  grid-column: 1;
    grid-row: 1;
    border: solid black;
  }
  .one {
      grid-column: 1 / 4;
    grid-row: 1;
  
  }
  .two {
    grid-column: 1/3;
    grid-row: 2 / 7;
    border: solid black
  }
  .three { 
    grid-column: 3/ 4;
    grid-row: 2 / 7;
    border: solid black
  }
  .four {
    grid-column: 3;
    grid-row: 3;
    border: solid black
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    border: solid black
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    border: solid black
  }
  ::placeholder
  {
      color: black;
    font-weight: bold;
  }
  table{
      width:80%;height:70%;
  }
  nav{
      color:white;	
  }
  a{
      color:white;
      text-decoration:none;
  }